//- To Do: Templates
if portal_templatesa && portal_templates.length > 0
	h2 Featured LaTeX Templates
else
	.row
		.col-sm-12
			p There are not yet any featured templates for #{portal.title}, please use the search box below to browse our main template gallery. 

	.row
		.col-sm-12
			h4 Discover more Templates, Articles and Examples
			//- To Do: search input below
			input(type="text" placeholder="Search")