extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2
					h2 Colours

					.color-row
						.color-box.ol-blue-gray-1
							.color-swatch
							.color-label
								pre.color-less-var
								pre.color-hex-val
								pre.color-rgb-val
						.color-box.ol-blue-gray-2
							.color-swatch
							.color-label
								pre.color-less-var
								pre.color-hex-val
								pre.color-rgb-val
						.color-box.ol-blue-gray-3
							.color-swatch
							.color-label
								pre.color-less-var
								pre.color-hex-val
								pre.color-rgb-val
						.color-box.ol-blue-gray-4
							.color-swatch
							.color-label
								pre.color-less-var
								pre.color-hex-val
								pre.color-rgb-val
						.color-box.ol-blue-gray-5
							.color-swatch
							.color-label
								pre.color-less-var
								pre.color-hex-val
								pre.color-rgb-val
						.color-box.ol-blue-gray-6
							.color-swatch
							.color-label
								pre.color-less-var
								pre.color-hex-val
								pre.color-rgb-val

					.color-row
						.color-box.ol-green
							.color-swatch
							.color-label
								pre.color-less-var
								pre.color-hex-val
								pre.color-rgb-val
						.color-box.ol-dark-green
							.color-swatch
							.color-label
								pre.color-less-var
								pre.color-hex-val
								pre.color-rgb-val
						.color-box.ol-blue
							.color-swatch
							.color-label
								pre.color-less-var
								pre.color-hex-val
								pre.color-rgb-val
						.color-box.ol-dark-blue
							.color-swatch
							.color-label
								pre.color-less-var
								pre.color-hex-val
								pre.color-rgb-val
						.color-box.ol-red
							.color-swatch
							.color-label
								pre.color-less-var
								pre.color-hex-val
								pre.color-rgb-val
						.color-box.ol-dark-red
							.color-swatch
							.color-label
								pre.color-less-var
								pre.color-hex-val
								pre.color-rgb-val