extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8
					.card
						.page-header
							h1 Open Jobs at ShareLaTeX
							
						h2 LaTeX Support Expert
						
						p We're looking for a LaTeX expert to help us with support and documentation.

						p The role will involve answering user support requests via email and helping to debug LaTeX problems on ShareLaTeX. Some support requests may also involve solving user problems and bugs with the ShareLaTeX platform itself. At times the role will involve writing documentation or blogs posts on LaTeX topics. This role will be a great opportunity to increase your knowledge and experience of LaTeX.

						p The ideal applicant will:
						ul
							li Have a strong knowledge of LaTeX basics and the surrounding ecosystem
							li Enjoy learning about new LaTeX packages
							li Enjoy debugging problems
							li Be clear at communicating difficult technical topics

						p
							| The role will involve 10-20 hours work each week, with a few hours required each day. The actual hours worked are very flexible.
							| We would like to build a long-term relationship with you and have this role continue indefinitely.

						p
							| Please email 
							a(href="mailto:james@sharelatex.com") james@sharelatex.com
							|  with your application or for more information.
			
				.col-md-4
					.card
						h3(style="margin-top: 0") About us
						p ShareLaTeX is an online LaTeX editor. We have over 500,000 registered accounts, and have users in every major university. Many thousands of papers, theses, dissertations and grant proposals have been written on ShareLaTeX, either collaboratively or by individuals.
						h3 Why join us?
						p ShareLaTeX was established in 2012 and is a small growing company. We have a fully remote team and optimise for an enjoyable working environment and a good work-life balance.
				




