extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2
					h2 Colours

					style.
						.color-row {
							display: flex;
							justify-content: space-between;
						}

						.color-box {
							background: white;
							margin: 10px 4px;
							flex: 1;
						}

						.color-swatch {
							height: 100px;
							width: 100px;
							margin: 10px auto;
						}

						.ol-blue-gray-1 .color-swatch {
							background: #E4E8EE;
						}

						.ol-blue-gray-2 .color-swatch {
							background: #9DA7B7;
						}

						.ol-blue-gray-3 .color-swatch {
							background: #5D6879;
						}

						.ol-blue-gray-4 .color-swatch {
							background: #485973;
						}

						.ol-blue-gray-5 .color-swatch {
							background: #2C3645;
						}

						.ol-blue-gray-6 .color-swatch {
							background: #1E2530;
						}

						.ol-green .color-swatch {
							background: #4F9C45;
						}

						.ol-dark-green .color-swatch {
							background: #1C5B26;
						}

						.ol-blue .color-swatch {
							background: #4B7FD1;
						}

						.ol-dark-blue .color-swatch {
							background: #2857A1;
						}

						.ol-red .color-swatch {
							background: #C9453E;
						}

						.ol-dark-red .color-swatch {
							background: #A6312B;
						}

						.color-label {
							display: flex;
							flex-direction: column;
							margin: 0 3px 10px;
						}

						.color-label pre {
							font-size: 12px;
							margin: 0 auto;
						}

					.color-row
						.color-box.ol-blue-gray-1
							.color-swatch
							.color-label
								pre @ol-blue-gray-1
								pre #E4E8EE
								pre rgb(228,232,238)
						.color-box.ol-blue-gray-2
							.color-swatch
							.color-label
								pre @ol-blue-gray-2
								pre #9DA7B7
								pre rgb(157,167,183)
						.color-box.ol-blue-gray-3
							.color-swatch
							.color-label
								pre @ol-blue-gray-3
								pre #5D6879
								pre rgb(93,104,121)
						.color-box.ol-blue-gray-4
							.color-swatch
							.color-label
								pre @ol-blue-gray-4
								pre #485973
								pre rgb(72,89,115)
						.color-box.ol-blue-gray-5
							.color-swatch
							.color-label
								pre @ol-blue-gray-5
								pre #2C3645
								pre rgb(44,54,69)
						.color-box.ol-blue-gray-6
							.color-swatch
							.color-label
								pre @ol-blue-gray-6
								pre #1E2530
								pre rgb(30,37,48)

					.color-row
						.color-box.ol-green
							.color-swatch
							.color-label
								pre @ol-green
								pre #4F9C45
								pre rgb(79,156,69)
						.color-box.ol-dark-green
							.color-swatch
							.color-label
								pre @ol-dark-green
								pre #1C5B26
								pre rgb(28,91,38)
						.color-box.ol-blue
							.color-swatch
							.color-label
								pre @ol-blue
								pre #4B7FD1
								pre rgb(75,127,209)
						.color-box.ol-dark-blue
							.color-swatch
							.color-label
								pre @ol-dark-blue
								pre #2857A1
								pre rgb(40,87,161)
						.color-box.ol-red
							.color-swatch
							.color-label
								pre @ol-red
								pre #C9453E
								pre rgb(201,69,62)
						.color-box.ol-dark-red
							.color-swatch
							.color-label
								pre @ol-dark-red
								pre #A6312B
								pre rgb(166,49,43)