extends ../layout

block content
	.content
		.container
			.row
				.col-md-8.col-md-offset-2
					h2 Logo in HTML
					
					style.
						.logo {
							font-family: 'Baskerville';
							font-weight: 600;
							font-size: 22px;
							color: #333;
						}
						.logo span {
							position: relative;
						}
						.logo .small {
							color: inherit;
							font-size: 18px;
						}
						.logo .LATEX {
							//- left: 1px;
						}
						.logo .A {
							//- top: -8px;
							//- left: -7px;
						}
						.logo .TEX {
							left: -1px;
						}
						//- .logo .TEX .E {
						//- 	left: 1px;
						//- }
						//- .logo .TEX .X {
						//- 	left: 1px;
						//- }
					p.logo
						span S
						span.small HARE
						span.LATEX
							span L
							span.small.E A
							span.TEX
								span.T T
								span.small.E E
								span.X X
								
					h1 ShareLaTeX CSS Style Guide

					h2 Headings

					p Here are our heading styles:

					h1 Heading level 1
					p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

					h2 Heading level 2
					p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

					h3 Heading level 3
					p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

					h4 Heading level 4
					p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

					h2 Buttons

					p Our primary button is red:
					p
						a.btn.btn-primary(href="#") Primary Button
					p Our secondary button is blue:
					p
						a.btn.btn-info(href="#") Secondary Button
					p All button styles
					p
						.btn-toolbar
							a.btn.btn-primary(href="#") Primary
							a.btn.btn-info(href="#") Info (secondary)
							a.btn.btn-default(href="#") Default
							a.btn.btn-success(href="#") Success
							a.btn.btn-warning(href="#") Warning
							a.btn.btn-danger(href="#") Danger

					h2 Hyperlinks

					p Hyperlinks are highlighted 
						a(href="#") as shown
						|.

					h2 Alerts

					.alert.alert-danger An <code>.alert-danger</code> alert
					.alert.alert-success An <code>.alert-success</code> alert
					.alert.alert-info An <code>.alert-info</code> alert
					.alert.alert-warning An <code>.alert-warning</code> alert
					
							
					h2 Favicon in HTML
					style.
						.favicon {
							border-radius: 4px;
							width: 32px;
							height: 32px;
							color: white;
							font-family: 'Baskerville';
							font-weight: 600;
							font-size: 32px;
							text-align: center;
							line-height: 1;
							background: linear-gradient(to bottom, #a93529 0%,#521914 100%);;
						}
					p
						.favicon S

	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2
					.card
						p Cards look best on a <code>.content.content-alt</code> background
