extends ../_layout

block append meta
	meta(name="ol-participatesBetaProgram" data-type="boolean" content=user.betaProgram)

block content
	main.content.content-alt
		beta-program-participate

block main-bundle
	+mainBundleFor('frontend/js/pages/user/beta.js')
