if university && university.id
	p.text-centered Visit your&nbsp;
		a(href="/user/settings") user settings page
		| &nbsp;to add an email for #{portal.title}
else
	p.text-centered Please contact the team owner at #{portal.title} to join
//- to do: add affiliation form