if !user
	include _not_signed_in
else if affiliation == 'confirmed'
	include _already_joined
else if affiliation == 'pending'
	include _pending_confirmation
else if !university.id && !team.v2_id
	p.text-centered Please contact the team owner at #{portal.title} to move the team to v2
else if affiliation_error == true
	p.text-centered There was a problem checking your affiliation. Please try again later.
else
	include _not_affiliated