if c.fields.displayTabGroupTitle
	h2 #{c.fields.tabGroupTitle}

tabset.ol-tabs
	for tab, tabIndex in c.fields.tabs
		if tab.fields
			tab(heading=tab.fields.tabTitle, id=tab.fields.tabId)
				for tabContent, tabContentIndex in tab.fields.tabContent || []
					+page_content(tabContent, tab.fields.tabContent[tabContentIndex+1])

include ../../../../../../app/views/_scripts/active_tab