extends ../../../../../app/views/_layout

block append meta
	meta(name="ol-user" data-type="json" content=user)
	meta(name="ol-projects" data-type="json" content=projects)

block content
	.content.content-alt(ng-controller="AdminUserController")
		.container(ng-cloak)
			p
				strong
					a(href="/admin/user") Users
				| &nbsp;&gt;&nbsp;
				strong {{ user.email }}
			tabset
				tab(heading="User Info")
					include ./_user-info
				tab(heading="Projects")
					include ./_project-list

		include ../../../../../app/views/project/list/_modals
		include ./_modals
