.universities
	.container.text-center
		.card
			h2 #{settings.appName} is used at institutions worldwide, including:
			.row
				.col-xs-12
					img(class="uni-logo img-responsive" src="https://www.filepicker.io/api/file/Ezv0EIUCRtEOkPpyThuw", alt="University of Queensland logo")

					img(class="uni-logo img-responsive" src="https://www.overleaf.com/assets/inst/caltech-b937d1a53566328e8a5eb32356e482be86814a63e1297b9ba8c4c6b9512887a4.png", alt="Caltech logo")

					img(class="uni-logo img-responsive" src="https://www.filepicker.io/api/file/hqSByA0CSZW4t22q4NXG", alt="University of York logo")

					img(class="uni-logo img-responsive" src="https://www.filepicker.io/api/file/pGIca9v5SxOJ0BUNPKPz", alt="University of Agder logo")
			.row.row-spaced
				.col-xs-12
					p
						a(href="/for/universities") View more institutions using #{settings.appName}
