doctype html
html
	head
		script(type='text/javascript', src='https://dl.frontapp.com/libs/frontjs.min.js')
		script(type='text/javascript').
			Front.on('conversation', function (data) {
				var userEmail = data.contact.handle;
				var opts = {
				method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						email: userEmail,
						sl_secure_token:"#{sl_secure_token}"
					})
				}
				window.fetch("https://us-central1-cloud-functions-production.cloudfunctions.net/frontapp-proxy", opts)
					.then(function(response) {
						return response.text()
					}).then(function(userDeails) {
						document.getElementById("user_data").innerHTML = userDeails;
					})
				});
	body
		#user_data
