extends ../../_layout

block vars
	- metadata = { viewport: true }

block append meta
	meta(name="ol-token-access-data" data-type="json" content={ postUrl, csrfToken})

block content
	div(
		ng-controller="TokenAccessPageController",
		ng-init="post()"
	)
		.editor.full-size
			div
				| &nbsp;
				a.back-to-project(href="/project")
					i.fa.fa-arrow-left

			.loading-screen
				.loading-screen-brand-container
					div#loadingScreen.loading-screen-brand()

				h3.loading-screen-label.text-center
					| #{translate('join_project')}
					span(ng-show="accessInFlight == true")
						span.loading-screen-ellip .
						span.loading-screen-ellip .
						span.loading-screen-ellip .


				.global-alerts.text-center(ng-cloak)
					div(ng-show="accessError", ng-cloak)
						br
						div(ng-switch="accessError", ng-cloak)
							div(ng-switch-when="not_found")
								h4(aria-live="assertive")
									| Project not found

							div(ng-switch-default)
								.alert.alert-danger(aria-live="assertive") {{translate('token_access_failure')}}
								p
									a(href="/") {{translate('home')}}
