if c.fields.displayTabGroupTitle
	h2 #{c.fields.tabGroupTitle}

.row.section-row
	.col-sm-12
		tabset.ol-tabs(bookmarkable-tabset)
			for tab, tabIndex in c.fields.tabs
				if tab.fields
					tab(bookmarkable-tab=tab.fields.tabId, heading=tab.fields.tabTitle)
						for tabContent, tabContentIndex in tab.fields.tabContent || []
							+content_row(tabContent.fields)