.row.hidden-print
	.col-sm-12
		h3 Need #{settings.appName} Pro now?

.row.hidden-print
	.col-sm-12.col-md-6
		.card
			h4.card-header For Students
			p Students get huge discounts off of Overleaf. See our&nbsp;
				+linkPlansAndPricing('pricing page')
				| &nbsp;page for more information.

	.col-sm-12.col-md-6
		.card
			h4.card-header For Labs &amp; Departments
			p If you are interested in a smaller departmental or lab group account, we have those as well. You can save even more when you buy a&nbsp;
				+linkPlansAndPricing('bundle of licenses')
				| &nbsp;together.
