p
	ul
		li Unlimited number of invited collaborators (&amp; link sharing)

		li Full project history view – to see all changes made for the life of the project, with ability to revert to any past changes

		li Real-time track changes

		li Advanced reference search

		li Reference manager sync

		li Dropbox integration (2-way sync)

		li GitHub integration (2-way sync)

		li Priority support
