.row
	.col-sm-12.text-center
		h3 Join&nbsp;
			+community_count(team.current_count, portal.title)

include ../team/_sign_in_or_affiliate

.row.row-spaced
	.col-sm-12
		.content-item
			include ./_overview_affiliated_and_not

.row
	.col-sm-12
		.content-item
			p Add your #{portal.title} email to your free account today to join&nbsp;
				+community_count(team.current_count, portal.title)
				| .
