extends ../../../../../app/views/layout

block content
	script(type="text/javascript").
		window.data = {
			admin_id: "#{admin_id}"
		}

	.content.content-alt(ng-controller="AdminCreateSubscriptionController")
		.container(ng-cloak)
			p
				strong Users
				| &nbsp;&gt;&nbsp;
				strong 
					a(href="/admin/users/" + admin_id)= admin_id
				| &nbsp;&gt;&nbsp;
				strong Subscriptions
				| &nbsp;&gt;&nbsp;
				strong New

			.card.card-thin
				p
					form(async-form="adminSubscription", name="adminSubscriptionForm", method="POST", action="/admin/subscription", novalidate, on-success="onSuccess")
						input(type="hidden", name="_csrf", value=csrfToken)
						table.table.table-striped.table-bordered(style="margin-bottom: 12px;")
							include ./_subscription-form

						form-messages(for="adminSubscriptionForm")

						.row
							.col-md-9
								button.btn.btn-primary(type='submit', ng-disabled="adminSubscriptionForm.inflight")
									span(ng-show="!adminSubscriptionForm.inflight") Create
									span(ng-show="adminSubscriptionForm.inflight") Creating...
