extends ../_layout

block content
	.content.content-alt
		.container
			.error-container
				.error-details
					p.error-status Not found
					p.error-description(ng-cloak) {{translate("cant_find_page")}}
					a.error-btn(href="/") Home
