<span class='dropdown'>
  <a data-toggle="dropdown" class="dropdown-toggle" dropdown-toggle href="#">
    {{selectedLagName}}
    <b class="caret print-hidden"></b>
  </a>
  <ul class='dropdown-menu pull-right'>
    {{#lagsMap}}
      <li>
        {{#isSelected}}
          <a href="#" class="lag-option active">{{name}}</a>
        {{^}}
          <a href="#" class="lag-option" data-lag="{{key}}">{{name}}</a>
        {{/isSelected}}
      </li>
    {{/lagsMap}}
  </ul>
</span>
