if (personalSubscription.recurly)
	include ./_personal_subscription_recurly
else
	include ./_personal_subscription_custom

if(personalSubscription.groupPlan)
	p
		a(href="/subscription/group").btn.btn-success !{translate("manage_group")}

hr