- var displayQuickStart = portal.public_start_html || portal.public_student_html || portal.public_research_html || portal.public_teach_html

if displayQuickStart
	h2 Quick Start
	.row
		.col-sm-12
			| !{portal.public_start_html}
	.row
		.col-sm-12
			+portal_content('university-quick-start-student', 'For Students', portal.public_student_html, true)
			+portal_content('university-quick-start-research', 'For Researchers', portal.public_research_html, true)
			+portal_content('university-quick-start-teach', 'For Teachers', portal.public_teach_html, true)
			+portal_content('university-intro-video', 'Intro Videos', portal.public_video_html, true, null, 'embed-responsive embed-responsive-16by9')