// Left-hand menu entries
span(ng-controller="ReferencesController")
	div()
		ul.list-unstyled.nav()
			//each item in ['mendeley','zotero']
			each item in ['mendeley']
				li
					a(ng-click="openNewDocModal()")
						i.fa.fa-fw.fa-book
						| &nbsp;&nbsp; #{translate(item)}
