extends ../../../../app/views/layout
include _mixins

//- Layout for all CMS generated pages
//- This might get removed once v2 styling decisions progress

block vars
	- metadata = metadata || {}
	- var popular_tags = [ {fields: {tag: 'publishers'}}, {fields: {tag: 'events'}}, {fields: {tag: 'latex'}}, {fields: {tag: 'tech'}}, {fields: {tag: 'press'}}, {fields: {tag: 'features'}}, {fields: {tag: 'guides'}}, {fields: {tag: 'institutions'}}, {fields: {tag: 'case studies'}}, {fields: {tag: 'advisors'}}]

block content
	.content.content-alt.cms-page.content-page
		main(ng-cloak, ng-controller="CmsController", role="main")
			block content_cms
			+preview()
