.content.content-alt.portal-ieee
	main(ng-cloak, id="university-content-container" class=print ? 'print' : '')
		.ieee-header
			.container-fluid
				h1
					img(class="ieee-logo" src=buildImgPath('other-brands/logo_ieee_white.png') alt="IEEE Logo")
		.container
			.row
				.col-xs-12
					p The IEEE is pleased to provide comprehensive LaTeX support to it's authors and members in partnership with Overleaf.

					p Overleaf is a new collaborative writing and publishing system developed by the team behind the popular WriteLaTeX editor. Overleaf is designed to make the process of writing, editing and producing scientific papers much quicker and easier for both authors and publishers.

					p.text-center
						a.btn.btn-primary Discover the #{settings.appName} editor
			.row
				.col-xs-12
					h4 Additional Resources
					ul
						li A free online
							| &nbsp;
							a(href="'/latex/learn/free-online-introduction-to-latex-part-1'") Introduction to LaTeX
							| &nbsp;
							| course is provided by Dr John Lees-Miller of Overleaf.
						li A selection of IEEE templates are provided below. These are pre-loaded into Overleaf for immediate use.
						li The
							| &nbsp;
							a(href="http://www.ieee.org/publications_standards/publications/authors/authors_journals.html" target="_blank") IEEE Author Digital Toolbox
							| , which includes a
							| &nbsp;
							a(href="http://graphicsqc.ieee.org/" target="_blank") graphics checker tool
							| &nbsp;and
							| &nbsp;
							a(href="http://refassist.ieee.org/action/showAuthorLogin" target="_blank") IEEE reference preparation assistant.
			.row
				.col-sm-12
					+portal_templates(portal_templates)
