include ../_mixins

.universities.universities-container
	.container.text-center
		.card
			h2 #{settings.appName} is used at institutions worldwide, including:
			+universities()
			.row.row-spaced
				.col-xs-12
					p
						a(href="/for/universities") View more institutions using #{settings.appName}
