extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3
					.card
						.page-header
							h1 Link Overleaf to IEEE Collabratec®
						p.text-danger Sorry, it seems like you've arrived here out of sequence. Please go #[a(href=ct_home_url) back to IEEE Collabratec] and try to link your account again. If this problem persists, please #[a(href="" ng-controller="ContactModal" ng-click="contactUsModal()") contact us]
