extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3
					.card
						.page-header
							h1 Account Already Linked with IEEE Collabratec®
						p Sorry, your Overleaf account is already linked to a different IEEE Collabratec account. You can only link your Overleaf account to one IEEE Collabratec account.
						p You can either #[a(href="https://ieee-collabratec.ieee.org/") go back to IEEE Collabratec] and sign in to the same IEEE Collabratec account that you have previously linked to this Overleaf account, or you can #[a(href="/sign_in_to_v1?return_to=%2Fusers%2Fedit%23linked-accounts") unlink your other IEEE Collabratec account] from this Overleaf account.
