extends ../layout

block content
	main.content
		.import
			h1.import__heading Import project to Overleaf v2
			p.import__description
				| Some text about importing. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a laoreet massa. Phasellus pellentesque faucibus porta. Nunc faucibus tincidunt tortor ut ullamcorper. Vestibulum lobortis at nisl eget pharetra. Praesent ex mauris, laoreet eu tempor et, lobortis eget justo. Nulla volutpat leo faucibus ante suscipit, eu malesuada ipsum gravida. Mauris at leo turpis. Aenean porta odio a lectus convallis egestas. Sed aliquet libero nunc, a faucibus ante accumsan ut. Phasellus nec finibus ex. Duis eget nisl sem. Morbi eget sollicitudin nisi. Vestibulum mattis eu enim non viverra. Morbi facilisis fermentum sollicitudin. Donec facilisis porta blandit. Vestibulum aliquam ex dolor.
			button.btn.btn-primary.import__confirm Import project to Overleaf v2
