extends ../layout
include ./elements/_page_content

//- A page from the CMS

block content_cms
	.content-container(class=pageAbout ? "container-small" : "")
		section
			.row.section-row
				.col-sm-12
					.page-header
						h1 #{title}

		if content
			for c, cIndex in content
				if c.fields
					//- tabGroupTitle is a required field on CMS but can be opted out of display on site
					//- must check c.fields, because an entry could have been created without adding any fields
					section(class=`${c.fields.colorBlock ? "color-block " + c.fields.colorBlock : ""} ${c.fields.noTopPadding ? "no-top-padding" : ""}`)
						if c.fields.tabGroupTitle
								include ./elements/_tabs
						else if c.type == 'layoutGrid'
							+content_row(c.fields)
						else
							//- Just About | Team List
							+element(c, content[cIndex+1])