div(ng-if="openFile.linkedFileData.provider == 'mendeley'")
	div
		| If this error persists, try re-linking your Mendeley account here:&nbsp;
	div.text-center
		a(href="/user/settings", target="_blank", style="font-weight: bold")
			| #{translate("account_settings")}

div(ng-if="openFile.linkedFileData.provider == 'zotero'")
	div
		| If this error persists, try re-linking your Zotero account here:&nbsp;
	div.text-center
		a(href="/user/settings", target="_blank", style="font-weight: bold")
			| #{translate("account_settings")}
