div(ng-if="openFile.linkedFileData.provider == 'mendeley'")
	p
		i.fa.fa-fw.fa-external-link-square.fa-rotate-180.linked-file-icon
		| Imported from Mendeley
		| at {{ openFile.created | formatDate:'h:mm a' }} {{ openFile.created | relativeDate }}

div(ng-if="openFile.linkedFileData.provider == 'zotero'")
	p
		i.fa.fa-fw.fa-external-link-square.fa-rotate-180.linked-file-icon
		| Imported from Zotero
		| at {{ openFile.created | formatDate:'h:mm a' }} {{ openFile.created | relativeDate }}
