li(ng-class="type == 'mendeley' ? 'active' : null")
	a(href, ng-click="type = 'mendeley'")
		i.fa.fa-fw.fa-book
		|
		| From Mendeley

li(ng-class="type == 'zotero' ? 'active' : null")
	a(href, ng-click="type = 'zotero'")
		i.fa.fa-fw.fa-book
		|
		| From Zotero
