h2 Personal Subscription

if subscription
	a(href="/admin/user/" + user._id + "/subscription/" + subscription._id) #{subscription._id}
else
	a.btn.btn-primary(href="/admin/user/" + user._id + "/subscription/new") Create Subscription

h2 Group Subscriptions

for sub in memberSubscriptions
	div
		a(href="/admin/user/" + user._id + "/subscription/" + sub._id) #{sub._id}
		
