extends ../../../../../app/views/layout

block content
	script#data(type="application/json").
		!{JSON.stringify({users: users, pages: pages}).replace(/\//g, '\\/')}

	script(type="text/javascript").
		window.data = JSON.parse($("#data").text());

	.content.content-alt(ng-controller="AdminUserListController")
		.container(ng-cloak)
			.row
				aside.col-md-2.col-xs-3
					include ./_side-bar

				.col-md-10.col-xs-9
					include ./_user-list

		include ./_modals
