extends ../_layout

block vars
	- metadata = { viewport: true }

block content
	.content.content-alt
		main.login-register-container
			.card.login-register-card
				.login-register-header
					h1.login-register-header-heading(ng-cloak) {{translate("log_out")}}
				form.login-register-form(async-form name='logoutForm' action='/logout' auto-submit='true')
					form-messages(for='logoutForm' role='alert')
					.actions
						button#submit-logout.btn-primary.btn.btn-block(
							type='submit',
							ng-disabled='logoutForm.inflight'
						)
							span(ng-show='!logoutForm.inflight' ng-cloak) {{translate("log_out")}}
							span(ng-show='logoutForm.inflight' ng-cloak) {{translate("logging_out")}}…
