extends ../_layout

block append meta
	meta(name="ol-sharedProjectData" data-type="json" content=sharedProjectData)
	meta(name="ol-newTemplateData" data-type="json" content=newTemplateData)

block content
	main.content.content-alt
		.container
			.row
				.registration_message(ng-cloak)
					if sharedProjectData.username
						h1 {{translate("user_wants_you_to_see_project", getMeta("ol-sharedProjectData"))}}
						div
							| {{translate("join_sl_to_view_project")}}.
						div
							| {{translate("if_you_are_registered")}},
							a(href="/login")  {{translate("login_here")}}
					else if newTemplateData.templateName
						h1 {{translate("register_to_edit_template", getMeta("ol-newTemplateData"))}}

						div
							span {{translate("already_have_sl_account")}}
							a(href="/login")  {{translate("login_here")}}

			.row
				.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
					.card(ng-cloak)
						.page-header
							h1 {{translate("register")}}
						p
							| Please contact
							strong(ng-non-bindable) #{settings.adminEmail}
							| to create an account.
