extends ../_layout

block content
	.content
		.container
			.row
				.col-md-8.col-md-offset-2.text-center(ng-cloak)
					.page-header
						h2 {{translate("restricted_no_permission")}}
					p
						a(href="/")
							i.fa.fa-arrow-circle-o-left(aria-hidden="true")
							| &nbsp;{{translate("take_me_home")}}