<div class="metric-container overbox overbox-small ">
  <div class="metric-header-container">
    <h4>{{title}}
    {{#if tooltip}}
    <sup class="metric-tooltip" data-toggle="tooltip" data-placement="below" title="{{tooltip}}">(?)</sup>
    {{/if}}
    </h4>
  </div>
  <div class="metric-body-container">
    <div class='metric-chart chart-container'>
      <svg></svg>
    </div>
    <div class="metric-overlay-backdrop">
      <div class="metric-overlay-backdrop-inner"></div>
    </div>
    <div class="metric-overlay-loading">
      <div class="progress wl-progress">
        <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
      </div>
    </div>
    <div class="metric-overlay-error">
      <p>
        Oops, something went wrong. Please <a href="#" class="metric-refresh">try again</a>.
        <br />
        If this problem persists, please <a href='/contact' target='_blank'>contact us</a>.
      </p>
    </div>
  </div>
  <div class="metric-footer-container"></div>
</div>
