tabset.ol-tabs
	tab(heading='Overview')
		.row
			.col-sm-10.col-sm-offset-1
				include partials/paid/_overview
	tab(heading='Quick Start')
		.row
			.col-sm-10.col-sm-offset-1
				include partials/paid/_quick_start
	tab(heading='Templates')
		.row
			.col-sm-10.col-sm-offset-1
				//- to do: active if in team
		include partials/paid/_templates
	tab(heading='FAQ & Help')
		.row
			.col-sm-10.col-sm-offset-1
				include partials/paid/_help