.toolbar.toolbar-editor(ng-controller="EditorToolbarController")
  .toggle-wrapper
    toggle-switch(
      description="Editor mode."
      label-false="Source"
      label-true="Rich Text"
      ng-model="editor.showRichText"
    )

  .formatting-btns(ng-if="editor.showRichText")
    button(ng-click="logEditor()") Log editor