extends ../layout
include ./elements/_page_content

//- A page from the CMS
//- This is the model "Page" on the CMS
//- These are for the path /for/_SLUG_ (other paths might be added)

block content_cms
	.row
		.col-xs-12
			.page-header
				h1 #{title}

	if content
		for c, cIndex in content
			//- tabGroupTitle is a required field on CMS but can be opted out of display on site
			//- must check c.fields, because an entry could have been created without adding any fields
			if c.fields && c.fields.tabGroupTitle
				if c.fields.displayTabGroupTitle
					h2 #{c.fields.tabGroupTitle}

				tabset
					for tab, tabIndex in c.fields.tabs
						tab(heading=tab.fields.tabTitle)
							for tabContent, tabContentIndex in tab.fields.tabContent
								+page_content(tabContent, tab.fields.tabContent[tabContentIndex+1])

			else
				+page_content(c, content[cIndex+1])