include ./_form

script(type='text/ng-template', id='contactGeneralModalTemplate')
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="close()"
		) &times;
		h3 #{translate("contact_us")}
	.modal-body.contact-us-modal
		+contact-form()