p
	ul
		li Advanced access control with
			strong  protected projects
			| &nbsp;(this can be the default setting for all users if preferred)

		li
			strong Full project history
			| &nbsp;view – to see all changes made for the life of the project – ability to revert to any past change

		li
			strong Teaching Toolkit
			| &nbsp;access on all accounts – including the distributed assignment toolkit

		li
			strong 20GB of storage space per user

		li
			strong 1000 files per project

		li Quick save to&nbsp;
			strong Dropbox

		li Priority support