span(ng-controller="EnagoController")
	ul.list-unstyled.nav()
		li
			a(ng-click="openEnagoModal()")
				i.fa.fa-pencil.fa-fw
				| &nbsp;&nbsp; Editing by Enago

script(type="text/ng-template", id="enagoModalTemplate")
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 Enago Editing Services
	.modal-body.modal-body-share

		.row
			.col-md-7.col-xs-7
				div ShareLaTeX has partnered with 
					a(href="http://www.sharelatex.enago.com") Enago 
					| to offer a varity of 
					a(href="http://www.sharelatex.enago.com") Editing Services.
			.col-md-5.col-xs-5
				img(src="/img/enago.png")


		.row
			.col-md-12.col-xs-12
				div.services
					h2
						a(href="http://www.sharelatex.enago.com/language-check.htm", target="_blank") Language Check
					p One quick round of language and grammar check.	
		.row
			.col-md-12.col-xs-12
				div.services
					hr.small
					h2
						a(href="http://www.sharelatex.enago.com/copyediting.htm", target="_blank") Copy Editing
					p A thorough and complete language check for your manuscript.
		.row
			.col-md-12.col-xs-12
				div.services
					hr.small
					h2
						a(href="http://www.sharelatex.enago.com/substantive-editing.htm", target="_blank") Substantive Editing
					p A focus on not only on the proper use of the English language, but also the overall presentation of your paper, including the logical flow and structure.
		.row
			.col-md-12.col-xs-12
				div.services
					hr.small
					h2
						a(href="http://www.sharelatex.enago.com/tex-latex-format.htm", target="_blank") Formatting
					p Formatted output in either TeX files or Microsoft Word.
			

	.modal-footer()

		a.btn.btn-info(href="http://www.sharelatex.enago.com", target="_blank")
			span #{translate("visit_enago")}
