.container(id="unpaid-public-page")
	.row
		.col-sm-10.col-sm-offset-1
			//- to do? not confirmed
			if affiliation
				include partials/unpaid/_overview
				//- include partials/unpaid/_show_support_and_contact
				include partials/unpaid/_get_pro_now
				include partials/unpaid/_share
				include partials/unpaid/_request_for_service
			else
				.hidden-print
					include partials/unpaid/_unaffiliated
