extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
					.card
						.page-header
							h1 Account Merge Complete

						div.container-fluid
							.row
								.col-md-12
									p
										| We've now merged your ShareLaTeX and Overleaf accounts.
									p
										strong
											| From now on, please go to #[a(href="https://www.overleaf.com") www.overleaf.com] and log in to your Overleaf account to access all your Overleaf and ShareLaTeX projects.
										|
										| If you have a paid ShareLaTeX subscription, it has also been transferred to your Overleaf account.

									p
										| Log in to your Overleaf account now to get started. (On the following page, please choose "Login&nbsp;with&nbsp;Overleaf".)

									p.text-center
										a.btn.btn-lg.btn-success(href='/logout?redir=/login/v1')
											| Log in to Overleaf
