extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
					.card
						.page-header
							h1 Account Merge Complete

						div.container-fluid
							.row
								.col-md-12
									p
										| Your ShareLaTeX and Overleaf v1 accounts are now merged, and you are ready to
										| get started with Overleaf v2.&nbsp;
									p
										strong
											| From now on, you will log in with your email and password from Overleaf v1 (#[em #{email}])

									p
										| Click the button below to resume the process of logging in to Overleaf v2
										| with your merged account.
										|
										| On the following page, choose #[strong "Login&nbsp;with&nbsp;Overleaf" ].

									p.text-center
										a.btn.btn-lg.btn-success(href='/logout?redir=/login/v1')
											| Log in to Overleaf v2
