extends ../../../../app/views/layout


block content
	.content.content-alt
		.container
			.row
				.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
					.card
						.page-header
							h1  #{translate("admin_panel")}
						div(ng-controller="AdminPanelController", ng-cloak)
							span {{hello}}