extends ../../../../app/views/layout

block content
  script.
    $(document).ready(function(){
      $('#create_form').submit();
    });

  .content.content-alt
    .container
      .row
        form(id='create_form' method='POST' action='/project/new/template/')
          input(type="hidden", name="_csrf", value=csrfToken)
          input(type="hidden" name="templateId" value=id)
          input(type="hidden" name="templateName" value=name)
