extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2
					.card
						p.text-center
							img(
								src="/img/ol_plus_sl.png"
								style="width: 50%"
							)
						p
							| Overleaf v2 will allow you to access your ShareLaTeX projects (<a href="https://www.overleaf.com/help/v2">read more here</a>).
							| You have an account in ShareLaTeX with the email <strong>#{email}</strong>.
							| To use Overleaf v2, you need to confirm with ShareLaTeX that you'd like to link your accounts.

						p.text-center
							a(href=redirect_url).btn.btn-primary Go to ShareLaTeX to confirm
