extends ../../../../app/views/layout

block content

	script(type="text/javascript").
		window.data = {
			users: !{JSON.stringify(users).replace(/\//g, '\\/')},
			pages: !{JSON.stringify(pages).replace(/\//g, '\\/')}
		};

	.content.content-alt(ng-controller="AdminPanelController")
		.container
			.row
				aside.col-md-2.col-xs-3
					include ./user/side-bar

				.col-md-10.col-xs-9
					include ./user/user-list

		include ./user/modals
