extends ../../../../app/views/layout

block content
	.content.content-alt
		#metrics.container
			button#metrics-dates
			div#metrics-container.row

block requirejs
	script(type="text/javascript").
		var METRICS_ENDPOINT = 'http://www.sharelatex.test:3050/graphs';
		var METRICS_RESOURCE_ID = '5';
		var METRICS_RESOURCE_TYPE = 'team';

	script(
			src=buildWebpackPath('es/metrics.js', {hashedPath:settings.useMinifiedJs})
			type="text/javascript"
		)

	script(type="text/javascript").
		$(function() {
			Frontend.metrics.chartApp.init();
			Frontend.metrics.metricsApp.init();
		})
