extends ../../../../app/views/layout

block content
	.content.content-alt
		.container-fluid
			#metrics-header.row
			.col-lg-9
				.section_header
					h3 Team Metrics
			#filters-container.col-lg-3
				#dates-container
					button(name="button" type="submit" id="metrics-dates" class="button-as-link" data-min-date="1498760463")
						span April 10, 2018 to May 9, 2018
						b(class="caret print-hidden")
				br
				span.by by
				span#lags-container
					span.dropdown
						a.dropdown-toggle(data-toggle="dropdown")
							Day
							b.class="caret print-hidden"
							
			#metrics.container
				button#metrics-dates
				div#metrics-container.row

block requirejs
	script(type="text/javascript").
		var METRICS_ENDPOINT = 'http://www.sharelatex.test:3050/graphs';
		var METRICS_RESOURCE_ID = '5';
		var METRICS_RESOURCE_TYPE = 'team';

	script(
			src=buildWebpackPath('es/metrics.js', {hashedPath:settings.useMinifiedJs})
			type="text/javascript"
		)

	script(type="text/javascript").
		$(function() {
			Frontend.metrics.chartApp.init();
			Frontend.metrics.metricsApp.init();
		})
