extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3
					.card
						.page-header
							h1 Migrating To Overleaf

						div
							p #[a(href="https://www.sharelatex.com/blog/2017/07/20/sharelatex-joins-overleaf.html") ShareLaTeX is merging with Overleaf].
							p
								| As your account has been migrated to the new #[a(href=settings.accountMerge.betaHost) Overleaf v2] site,
								| you will need to log in to Overleaf to proceed

							p.text-center
								a.btn.btn-lg.btn-primary(href=settings.accountMerge.betaHost+"/login/v1") Login to Overleaf
