extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3
					.card
						.page-header
							h1 Link Overleaf to IEEE Collabratec™
						if v1_user_exists
							.small.text-primary Welcome back! It looks like you've already signed up to Overleaf with your IEEE registered email (#{saml_user.Email}). Please

							form(name="signinForm", action="/org/ieee/collabratec/auth/sign_in_to_link", method="POST")
								input(name="_csrf", type="hidden", value=csrfToken)
								.actions
									button.btn-primary.btn(type="submit") Sign In To Overleaf
							.small.text-primary to link your account to IEEE Collabratec.

							.small.text-primary Note: If you have previously unlinked your IEEE Collabratec account from Overleaf and would like to reconnect it now but don't know your Overleaf password, please #[a(href="/users/password/new") reset your Overleaf password] and then try to connect your IEEE Collabratec account again.
						else
							form(name="signupForm", action="/org/ieee/collabratec/auth/confirm_link", method="POST")
								input(name="_csrf", type="hidden", value=csrfToken)
								.small.text-primary Welcome to Overleaf! Please confirm that you"d like to link your Overleaf and IEEE Collabratec accounts.
								.small.text-primary If you don"t have an Overleaf account yet:
								.actions
									button.btn-primary.btn(type="submit") Sign Up To Overleaf with IEEE

							form(name="signinForm", action="/org/ieee/collabratec/auth/sign_in_to_link", method="POST")
								input(name="_csrf", type="hidden", value=csrfToken)
								.small.text-primary Or, if you already have an Overleaf account:
								.actions
									button.btn-primary.btn(type="submit") Sign In To Overleaf

							div
								span.small.text-primary
									a(href="https://ieee-collabratec.ieee.org/") Back to IEEE Collabratec
