extends ../../../../app/views/layout

block content
	.content.content-alt
		.container
			.row
				.col-md-4.col-md-offset-4
					.card
						.page-header.text-center
							h2 You also have an Overleaf V1 account
						p.text-center
							img(
								src="/img/ol_plus_sl.png"
								style="width: 50%"
							)
						p.text-center
							| You must link that account in order to see your v1 projects in Overleaf v2.
						hr
						p.text-center
							a(href=v1LoginUrl, event-tracking="login_v2_via_overleaf", event-tracking-trigger="click", event-tracking-ga="v2_onboard", event-tracking-label="welcome").btn.btn-lg.btn-success Link my V1 account

						p.text-center Or

						p.text-center
							a(href="/user/login_to_ol_v2?dont_link=true")
								|  Continue with your ShareLaTeX account instead
