- if (sentryEnabled)
	script(src=sentrySRC, crossorigin="anonymous")
	script(type="text/javascript").
		if (typeof(Sentry) != "undefined") {
			Sentry.init(JSON.parse('!{JSON.stringify(settings.sentry.frontend)}'))
			Sentry.setUser({id:'#{getLoggedInUserId()}'})
		}
