extends ../../../../app/views/layout

block content

	script(type="text/javascript").
		window.data = {
			user: !{JSON.stringify(user).replace(/\//g, '\\/')},
			graph: !{JSON.stringify(graph).replace(/\//g, '\\/')}
		};

	.content.content-alt(ng-controller="AdminGraphController")
		.container
			.row
				aside.col-md-2.col-xs-3
					include ./user/side-info

				.col-md-10.col-xs-9
					h2 {{user.first_name}} Graph
					#graph(style="max-width: 100%; height: 400px; margin: auto;")