p.text-centered You've already joined #{portal.title} on #{settings.appName}. You can use your&nbsp;
	+linkDash()
	| &nbsp;to manage your projects.

p.text-centered If you have any questions
	if portal.paid
		| &nbsp;about your subscription
	| , feel free to&nbsp;
	+linkContact('contact us').
