if !user
	include _not_signed_in
//- to do: layouts below
//- else if in_team
//- 	include _already_joined
//- else if @affiliation_status == :confirmed || @affiliation_status == :not_required
//- 	include _join
//- else if @affiliation_status == :pending
//- 	include _pending_confirmation
//- else
//- 	include _not_affiliated