extends ../../../../app/views/layout

block content
	.content.content-alt
		#institution-hub.container
			.row
				.col-lg-9
					.hub-header
						span.dropdown(dropdown)
							a.dropdown-toggle(href, dropdown-toggle)
								i.fa.fa-caret-down
							ul.dropdown-menu
								if portalSlug
									li
										a(href="/edu/" + portalSlug) Portal
								li
									a(href="/metrics/institutions/" + institutionId) Metrics

						h2(style="text-transform: capitalize") #{institutionName} &mdash; Administrator Hub
			.row
				.col-lg-9
					.admin-item#usage
						.section-title
							h3 Usage
						include institutionHub/usage
					.admin-item
						.section-title
							h3 Collaboration
						include institutionHub/collaboration
