extends ../../../../app/views/layout

block content
	.content.content-alt
		#institution-hub.container
			.row
				.col-lg-12
					.hub-header
						h2(style="text-transform: capitalize") #{name} &mdash; Administrator Hub
