meta(name="ol-hasSamlBeta" data-type="boolean" content=samlBeta)
meta(name="ol-hasSamlFeature" data-type="boolean" content=hasFeature('saml'))
meta(name="ol-samlInitPath" content=settings.saml.ukamf.initPath)
