.v2-import__img {
  display: block;
  width: 80%;
  margin: 0 auto (@line-height-computed / 2);
}

.v2-import__cta {
  .btn;
  .btn-primary;
  .text-center;
  .center-block;
  margin-top: @line-height-computed;
}