p.hub-metric-link
	a(href="/metrics/institutions/" + institutionId) 
		i.fa.fa-bar-chart
		|All usage metrics

.admin-sub-item
	h6 In the past month
	.row
		.col-xs-12
			.hub-circle
				span.hub-circle-number #{usageData.count}
				|signups

if recentActivity
	.admin-sub-item.recent-activity
		h6 Recent activity
		.row.overbox.overbox-small
			each activity in recentActivity
				.col-xs-4
					h6 #{activity.title}
					span.hub-big-number #{activity.users}
					span.number-label users
					span.worked-on worked on
					span.hub-big-number #{activity.docs}
					span.hub-number-label projects

