extends ../../../../../app/views/_layout

block content

	meta(id="ol-admin-project-data" data-json content=project)

	.content.content-alt(ng-controller="AdminProjectController")
		.container(ng-cloak)
			p
				strong
					| Project
				| &nbsp;&gt;&nbsp;
				strong {{ project._id }}
			tabset
				tab(heading="Project Info")
					include ./_project-info
